<div class="row">
    <div class="col-4">
    </div>
    <div style="text-align: center" class="col-4">
        <h1 class="heading">Greetings</h1>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <span class="counterDisplay counter" style="margin-right: 60px">Counter: {{counter}}</span>
    </div>
    <div class="col-5 nameBox center">
        <div>
            <form action="/greet" method="POST">
                <label for="exampleEmailInput">Name:</label>
                <input style="margin-top:0px" name="inputName" type="text"></input>
                <div class="radioBtn">
                    <label class="">
                        <input id="english" type="radio" name="languageChoice" class="languageChoiceType"
                            value="english">
                        <span class="label-body radioBtn">English</span>
                    </label>
                    <label class="">
                        <input id="afrikaans" type="radio" name="languageChoice" class="languageChoiceType"
                            value="afrikaans">
                        <span class="label-body radioBtn">Afrikaans</span>
                    </label>
                    <label class="">
                        <input id="isiXhosa" type="radio" name="languageChoice" class="languageChoiceType"
                            value="isixhosa">
                        <span class="label-body radioBtn">isiXhosa</span>
                    </label>
                </div>
                <button style=" margin-top: 5px" name="greetBtn" type="submit" class="center">Greet Me</button>
            </form>
            <label style="color: red;margin:5px" for="whoever">{{messages.info}}</label>
            <a href="/greeted">Greeted</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-5 nameBox">
        <form action="/clear" method="POST">
        <button class="resetBtn" type="submit" style="margin-right: 10px">Reset</button>
        </form>
        <div class="nameDisplay">
            <div>
                <strong>Greet message:</strong>
                <label for="whoever" class="name">{{name}}</label> 
            </div>
        </div>
    </div>
</div>